.App {
  text-align: center;
  min-height: 100vh;
  background-color: #f8f9f9;
}

.App-header {
  font-family: 'Work Sans', sans-serif;
  background-color: white;
  padding: 30px;
  color: black;
  border-bottom: 1px solid lightgray;
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.07);
}

.App-title {
  font-size: 40px;
  font-weight: 400 !important;
  text-transform: uppercase;
}

.App-subtitle {
  font-size: 20px;
  font-weight: 100 !important;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid #6acad1;
  width: 200px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
